extends layout.pug

block content
  -
    const formatDate = (dateString) => {
      var date = new Date(dateString);
      date = `${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()}, ${date.getHours()}:${date.getMinutes()}`;
      return date;
    }
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each comment in comments.sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt))
          li.publication__list-item
            .publication__header
              img.publication__list-image(src=`${comment.users.avatar ? ('/img/' + comment.users.avatar) : '/img/icons/smile.svg'}` width='20' height='20' alt='Аватар пользователя')
              b.publication__list-name #{comment.users.firstName} #{comment.users.lastName}
              time.publication__item-time(datetime=`${formatDate(comment.createdAt)}`) #{formatDate(comment.createdAt)}
            a.publication__item-text(href='#') #{comment.text}
            include comment-title.pug
            form(action=(`/articles/${comment.articleId}/comments/${comment.id}`) method='POST' enctype='application/x-www-form-urlencoded')
              button.publication__button.button.button--close-item(type='submit')
                span.visually-hidden Закрыть строку списка 