extends layout.pug

block content
  -
    const formatDate = (dateString) => {
      let date = new Date(dateString);
      const yyyy = date.getFullYear().toString();
      let mm = (date.getMonth()+1).toString();
      let dd  = date.getDate().toString();
      const mmChars = mm.split('');
      const ddChars = dd.split('');
      return (ddChars[1]?dd:"0"+ddChars[0]) + '.' + (mmChars[1]?mm:"0"+mmChars[0]) + '.' + yyyy;
    }
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each article in articles.sort((a, b) => new Date(b.createdDate) - new Date(a.createdDate))
          li.notes__list-item
            time.notes__item-time(datetime=`${formatDate(article.createdDate)}`) #{formatDate(article.createdDate)}
            a.notes__item-text(href=`articles/edit/${article.id}`) #{article.title}
            form(action=(`/articles/${article.id}`) method='POST' enctype='application/x-www-form-urlencoded')
              button.notes__button.button.button--close-item(type='submit')
                span.visually-hidden Закрыть строку списка