extends layout.pug

block content
  -
    const formatDate = (dateString) => {
      const date = new Date(dateString);
      return date.toLocaleString();
    }
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href='/') Назад
            time.post__date(datetime=`${formatDate(article.createdDate)}`) #{formatDate(article.createdDate)}
            h2.post__title.title.title--main #{article.title}
            ul.post__themes.themes
              each category in categories
                li.themes__item
                  a.themes__item-link(href=`/articles/category/${category.id}`)
                    | #{category.name}
                    sup #{category.count}
                  button.themes__remove-btn(type='button') Удалить категорию
          +getPostPicture(article.picture, article.title)
          .post__text
            h3 #{article.title}
            p #{article.announce}
            p #{article.fullText}
      include post-comments.pug       
          if user
            .comments__footer.comments__footer--user
              form(action=`/articles/${id}/comments` enctype='application/x-www-form-urlencoded' method='POST')
                .comments__avatar.avatar
                  img(src='/img/avatar-2.png' alt='аватар пользователя')
                label
                  textarea(rows='1' name='comments' placeholder='Присоединиться к обсуждению' required='')
                button.comments__button.button.button--colored(type='submit') Опубликовать
                +errorMessage(error)
          if !user
            div.comments__footer.comments__footer--visitor
              a(href="/login").comments__button.button.button--colored Войти
              div.comments__registration
                p.text.text--signature
                  b.title.title--small Регистрация
                | Чтобы присоединиться к переписке нужно зарегистрироваться
            
